<!DOCTYPE html>
<html>
{% load static %}

    <head>
    {% block head %}
        <title>{% block title %} Formulario de Login {% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
    </head>


<body>
{% block body %}




{% endblock %}
{% block script %}
    <script src="https://kit.fontawesome.com/6f24398be6.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% endblock %}
</body>
</html>
