{% extends 'base.html' %}
{% load static %}


{% block title %} Cambiar contraseña {% endblock %}
{% block body %}

	<img class="wave" src="{% static 'img/wave5.png' %}">
	<div class="container">
		<div class="img">
			<img src="{% static 'img/illustrationch.svg' %}" height="400">
		</div>
		<div class="change-pass-content">
			<form action="#">
				<h2 class="title">Restablecer contraseña</h2>
           		<div class="input-div pass">
           		   <div class="i">
						<i class="fa-solid fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Contraseña</h5>
           		    	<input type="password" class="input">
            	   </div>
            	</div>
                <div class="input-div pass2">
                    <div class="i">
                      <i class="fa-solid fa-lock"></i>
                    </div>
                    <div class="div">
                         <h5>Confirmar contraseña</h5>
                         <input type="password" class="input">
                    </div>
              </div>

            	<input type="submit" class="btn" value="Cambiar contraseña">
            </form>
        </div>
    </div>

{% endblock %}

